# XGBoost Model

In [25]:
import pandas as pd
from xgboost import XGBRegressor, callback
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import RobustScaler
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import numpy as np
from tqdm import tqdm
from datetime import datetime
import pytz
import json
import joblib 
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LassoCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFE

In [26]:
# Load the dataset after the exploratory data analysis
challenge_set_updated = pd.read_csv("./data/challenge_set_updated_v14.csv")
submission_set = pd.read_csv("./data/submission_set.csv")
submission_set_updated = pd.read_csv("./data/submission_set_updated_v14.csv")

In [27]:
# Function to drop columns with more than 40% missing values, except for 'tow' in the submission set
def drop_columns_above_threshold(df, threshold=40, preserve_columns=None):
    if preserve_columns is None:
        preserve_columns = []
    
    missing_percentage = df.isna().mean() * 100
    cols_to_keep = missing_percentage[missing_percentage <= threshold].index.tolist()
    
    # Ensure columns in preserve_columns are kept even if they exceed the threshold
    cols_to_keep.extend([col for col in preserve_columns if col in df.columns])
    
    df = df[cols_to_keep]
    return df

# Applying the function to challenge_set_updated
challenge_set_updated = drop_columns_above_threshold(challenge_set_updated)

# Applying the function to submission_set_updated, keeping 'tow'
submission_set_updated = drop_columns_above_threshold(submission_set_updated, preserve_columns=['tow'])

In [28]:
def clean_data_better(df, threshold=1e10):
    # Replace inf and -inf with NaN using vectorized operations
    df.replace([np.inf, -np.inf], np.nan, inplace=True)
    
    # Mask values above the threshold with NaN directly using vectorized operations
    numeric_columns = df.select_dtypes(include=[np.number]).columns
    df[numeric_columns] = df[numeric_columns].mask(df[numeric_columns].abs() > threshold)
    
    # Fill NaNs using a combined approach - first forward fill, then median
    df[numeric_columns] = df[numeric_columns].fillna(method='ffill').fillna(df.median())
    
    return df

# Applying the improved cleaning function
challenge_set_updated = clean_data_better(challenge_set_updated)
submission_set_updated = clean_data_better(submission_set_updated)

In [29]:
# If necessary change this part to test the model before the training process
df = challenge_set_updated.iloc[:,:]

# Separating features and target variable
X = df.drop('tow', axis=1)
y = df['tow']

n_jobs = os.cpu_count() // 2

In [30]:
# Split the data into training and test sets
X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Further split the training data into training and validation sets for early stopping
X_train, X_val, y_train, y_val = train_test_split(X_train_full, y_train_full, test_size=0.2, random_state=42)

# Define the best parameters provided
best_params = {
    'subsample': 1.0,
    'reg_lambda': 0.46415888336127775,
    'reg_alpha': 0.166810053720005,
    'min_child_weight': 4,
    'max_depth': 13,
    'learning_rate': 0.01,
    'gamma': 0.4444444444444444,
    'colsample_bytree': 0.6
}

# Initialize the XGBoost model with the provided best parameters
best_model = XGBRegressor(
    **best_params,
    objective='reg:squarederror',
    random_state=42,
    n_estimators=10_000_000,  # Set a high value to allow early stopping to find the best n_estimators
    n_jobs=n_jobs,
    eval_metric="rmse",  # Set eval_metric in the constructor
    early_stopping_rounds=20,  # Set early_stopping_rounds in the constructor
)

# Train the model on the training data with early stopping using the validation set
best_model.fit(X_train, y_train, verbose=100, eval_set=[(X_val, y_val)])

# Update best_params with the best number of estimators found during early stopping
best_params['n_estimators'] = best_model.best_iteration + 1  # +1 because best_iteration is zero-indexed

# Evaluate the final model on the test set
y_pred = best_model.predict(X_test)
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print(f"Best Model Performance - R^2 Score: {r2:.4f}, RMSE: {rmse:.4f}")
print(f"Updated best_params: {best_params}")

[0]	validation_0-rmse:52899.44496
[100]	validation_0-rmse:19651.24351
[200]	validation_0-rmse:7763.87459
[300]	validation_0-rmse:3941.33230
[400]	validation_0-rmse:3010.22992
[500]	validation_0-rmse:2819.30861
[600]	validation_0-rmse:2769.63940
[700]	validation_0-rmse:2746.89365
[800]	validation_0-rmse:2732.13854
[900]	validation_0-rmse:2720.95372
[1000]	validation_0-rmse:2712.46380
[1100]	validation_0-rmse:2704.79834
[1200]	validation_0-rmse:2698.00112
[1300]	validation_0-rmse:2692.96495
[1400]	validation_0-rmse:2688.38004
[1500]	validation_0-rmse:2684.19104
[1600]	validation_0-rmse:2680.62412
[1700]	validation_0-rmse:2677.36668
[1800]	validation_0-rmse:2674.82068
[1900]	validation_0-rmse:2672.56350
[2000]	validation_0-rmse:2670.39418
[2100]	validation_0-rmse:2668.58979
[2200]	validation_0-rmse:2666.91792
[2300]	validation_0-rmse:2665.48647
[2400]	validation_0-rmse:2664.20194
[2500]	validation_0-rmse:2663.06595
[2600]	validation_0-rmse:2662.06341
[2700]	validation_0-rmse:2661.08663
[2800]	validation_0-rmse:2660.13932
[2900]	validation_0-rmse:2659.30526
[3000]	validation_0-rmse:2658.59903
[3100]	validation_0-rmse:2658.10241
[3200]	validation_0-rmse:2657.38208
[3300]	validation_0-rmse:2656.75653
[3400]	validation_0-rmse:2656.26791
[3500]	validation_0-rmse:2655.75740
[3600]	validation_0-rmse:2655.31671
[3700]	validation_0-rmse:2654.97586
[3800]	validation_0-rmse:2654.55960
[3900]	validation_0-rmse:2654.21596
[4000]	validation_0-rmse:2653.91949
[4100]	validation_0-rmse:2653.67960
[4200]	validation_0-rmse:2653.40533
[4300]	validation_0-rmse:2653.15885
[4400]	validation_0-rmse:2652.95896
[4500]	validation_0-rmse:2652.73434
[4600]	validation_0-rmse:2652.52004
[4700]	validation_0-rmse:2652.33483
[4800]	validation_0-rmse:2652.15140
[4900]	validation_0-rmse:2651.97157
[5000]	validation_0-rmse:2651.79252
[5100]	validation_0-rmse:2651.63668
[5200]	validation_0-rmse:2651.43580
[5300]	validation_0-rmse:2651.28275
[5400]	validation_0-rmse:2651.13623
[5500]	validation_0-rmse:2650.99750
[5600]	validation_0-rmse:2650.87732
[5700]	validation_0-rmse:2650.74735
[5800]	validation_0-rmse:2650.62442
[5900]	validation_0-rmse:2650.48758
[6000]	validation_0-rmse:2650.43195
[6100]	validation_0-rmse:2650.34121
[6200]	validation_0-rmse:2650.24209
[6300]	validation_0-rmse:2650.16610
[6400]	validation_0-rmse:2650.08169
[6500]	validation_0-rmse:2650.00271
[6600]	validation_0-rmse:2649.93988
[6700]	validation_0-rmse:2649.88385
[6800]	validation_0-rmse:2649.81230
[6900]	validation_0-rmse:2649.74320
[7000]	validation_0-rmse:2649.69087
[7100]	validation_0-rmse:2649.63635
[7200]	validation_0-rmse:2649.57813
[7300]	validation_0-rmse:2649.52391
[7400]	validation_0-rmse:2649.49112
[7500]	validation_0-rmse:2649.45083
[7600]	validation_0-rmse:2649.40381
[7700]	validation_0-rmse:2649.36237
[7733]	validation_0-rmse:2649.36036
Best Model Performance - R^2 Score: 0.9976, RMSE: 2605.1745
Updated best_params: {'subsample': 1.0, 'reg_lambda': 0.46415888336127775, 'reg_alpha': 0.166810053720005, 'min_child_weight': 4, 'max_depth': 13, 'learning_rate': 0.01, 'gamma': 0.4444444444444444, 'colsample_bytree': 0.6, 'n_estimators': 7715}

In [31]:
# Save R², RMSE, and hyperparameters
results = {
    'R2': float(r2),
    'RMSE': float(rmse),
    'Best Parameters': {key: (int(value) if isinstance(value, np.integer) else float(value)
                              if isinstance(value, np.floating) else value)
                        for key, value in best_params.items()}
}

# Set timezone to São Paulo (UTC-3)
saopaulo_tz = pytz.timezone('America/Sao_Paulo')
timestamp = datetime.now(saopaulo_tz).strftime('%Y%m%d_%H%M%S')

# Define logs directory, and create them if they don't exist
logs_dir = 'logs'
os.makedirs(logs_dir, exist_ok=True)

# Define file paths within the respective directories
results_file = os.path.join(logs_dir, f'model_results_{timestamp}.txt')

# Save the results to a TXT file
with open(results_file, 'w') as file:
    file.write(f"R2: {results['R2']}\n")
    file.write(f"RMSE: {results['RMSE']}\n")
    file.write("Best Parameters:\n")
    for param, value in results['Best Parameters'].items():
        file.write(f"  {param}: {value}\n")

print(f"Results saved to {results_file}")

Results saved to logs/model_results_20241008_174426.txt

In [32]:
# Display evaluation metrics
print(f"Final Model Performance - R^2 Score: {r2:.4f}, RMSE: {rmse:.4f}")

Final Model Performance - R^2 Score: 0.9976, RMSE: 2605.1745

In [33]:
# Define models directory, and create them if they don't exist
models_dir = 'models'
os.makedirs(models_dir, exist_ok=True)

# Train the final model using the full training+validation+test set with the optimal n_estimators
final_model = XGBRegressor(**best_params, objective='reg:squarederror', random_state=42, n_jobs=n_jobs)

# Train the model on the entire training+validation+set data
final_model.fit(X, y, verbose=100)

print("Final model trained successfully using all available data.")

Final model trained successfully using all available data.

In [34]:
# Define file paths within the respective directories
model_file = os.path.join(models_dir, f'trained_model_{timestamp}.joblib')

# Save the trained model to a file in the models folder
joblib.dump(final_model, model_file)
print(f"Model saved to {model_file}")

Model saved to models/trained_model_20241008_174426.joblib

In [35]:
submission_set_updated.T

,0,1,2,3,4,5,6,7,8,9,...,105949,105950,105951,105952,105953,105954,105955,105956,105957,105958
average_airspeed_1,149.209938,117.456621,158.649882,126.084418,162.159272,161.748003,137.092779,175.570843,164.332335,162.301706,...,126.317782,149.139948,149.139948,149.139948,149.139948,145.898948,145.898948,148.610247,159.224761,136.185600
average_airspeed_3,148.839061,149.182912,161.334393,134.517852,145.103347,160.954046,154.333593,171.648314,164.688463,142.473617,...,153.484098,138.627673,138.627673,138.627673,138.627673,159.238178,159.238178,162.387602,187.366632,187.366632
average_airspeed_4,211.484693,212.079541,283.078506,218.678856,210.902618,212.115545,153.024779,237.355997,222.105893,252.927562,...,162.898242,213.303817,213.303817,213.303817,213.303817,203.539336,203.539336,217.985694,271.778383,212.680751
average_airspeed_ENR,209.629535,215.005350,235.356536,185.962480,221.413637,221.413637,188.806149,251.075295,218.548881,233.711951,...,224.306826,216.371124,265.469164,247.374071,260.214430,218.634177,196.491252,218.981623,218.981623,218.981623
average_altitude_1,12252.370545,8957.490975,11737.036455,10790.705303,12180.551524,14735.271771,11327.749806,18714.710611,15875.444957,11924.889868,...,14398.877888,13481.402831,13481.402831,13481.402831,13481.402831,13524.115838,13524.115838,15478.569057,11552.200647,10399.573003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ades_geo_cluster_16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ades_geo_cluster_17,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ades_geo_cluster_18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
ades_geo_cluster_19,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
tow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Use the final model to predict the `tow` for the submission_set_updated
submission_set_features = submission_set_updated.iloc[:,:-1]
submission_set['tow'] = final_model.predict(submission_set_features)

submission_set

,flight_id,date,callsign,adep,name_adep,country_code_adep,ades,name_ades,country_code_ades,actual_offblock_time,arrival_time,aircraft_type,wtc,airline,flight_duration,taxiout_time,flown_distance,tow
0,248753821,2022-01-01,3b3de0f3ad0ee192513995c02f7bf7cf,LTFJ,Istanbul Sabiha Gokcen,TR,LFLL,Lyon,FR,2022-01-01T09:44:00Z,2022-01-01T12:48:33Z,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,170,15,1122,70151.117188
1,248753822,2022-01-01,e06dd03d4a879ca37d9e18c1bd7cad16,EBBR,Brussels,BE,KJFK,New York JFK,US,2022-01-01T09:45:00Z,2022-01-01T17:49:51Z,A333,H,bdeeef3a675587d530de70a25d7118d2,470,15,3205,213874.234375
2,248754498,2022-01-01,2d3b1c962c78c4ebeef11bcd51b9e94c,KMIA,Miami,US,EGLL,London Heathrow,GB,2022-01-01T01:52:00Z,2022-01-01T09:55:16Z,B77W,H,5543e4dc327359ffaf5b9c0e6faaf0e1,473,10,3965,224451.890625
3,248757623,2022-01-01,81564432d3ee97c4bdf4cd8f006753dc,EGCN,Doncaster Sheffield,GB,LEAL,Alicante,ES,2022-01-01T08:20:00Z,2022-01-01T11:06:08Z,B38M,M,3922524069809ac4326134429751e26f,156,10,986,57287.316406
4,248763603,2022-01-01,84be079d7e660db105d91f600b4b3d59,EIDW,Dublin,IE,LFLL,Lyon,FR,2022-01-01T11:01:00Z,2022-01-01T13:00:43Z,A320,M,a73f82288988b79be490c6322f4c32ed,105,15,686,63708.496094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105954,258066302,2022-12-31,2d3b4446c4d05a25196a9d52cab936fb,LTFJ,Istanbul Sabiha Gokcen,TR,EKCH,Copenhagen,DK,2022-12-31T09:36:00Z,2022-12-31T13:12:17Z,B38M,M,6351ec1b849adacc0cbb3b1313d8d39b,201,15,1199,68710.257812
105955,258068609,2022-12-31,253fd692ed441fac523081471c067772,LOWW,Vienna,AT,KIAD,Washington Dulles,US,2022-12-31T09:49:00Z,2022-12-31T19:38:26Z,B763,H,5d407cb11cc29578cc3e292e743f5393,575,14,3937,173449.609375
105956,258068876,2022-12-31,c9fca302ca2e28acab0eb0bb1b46f11b,LTFM,iGA Istanbul,TR,LSZH,Zurich,CH,2022-12-31T09:25:00Z,2022-12-31T12:24:24Z,A321,M,6351ec1b849adacc0cbb3b1313d8d39b,154,25,988,73862.429688
105957,258064675,2022-12-31,00f96ad0e382476649574ba044c764fc,EHAM,Amsterdam,NL,EDDF,Frankfurt,DE,2022-12-31T10:04:21Z,2022-12-31T10:55:35Z,A320,M,f502877cab405652cf0dd70c2213e730,42,9,240,60767.304688
105958,258058370,2022-12-31,5f0c222c7f7ceff3fbe75c854cce74c9,UBBB,Baku,AZ,LTFM,iGA Istanbul,TR,2022-12-31T09:40:00Z,2022-12-31T12:28:00Z,B738,M,6351ec1b849adacc0cbb3b1313d8d39b,158,10,1014,65926.882812

In [37]:
# Define the submissions directory and create it if it doesn't exist
submissions_dir = 'submissions'
os.makedirs(submissions_dir, exist_ok=True)

# Save the submission with a timestamp in the filename
submission_file = os.path.join(submissions_dir, f"submission_{timestamp}.csv")
submission_set.to_csv(submission_file, index=False)